@import './mixin.scss';
@import './element-ui.scss';
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//vue router transition css
.fade-enter-active,
.fade-leave-active {
  transition: all .2s ease
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

//main-container全局样式
.app-main {
  min-height: 100%
}

.app-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// define
.text {
  font-size: 14px;
}

.item {
  padding: 18px 0;
}

.box-card {
  width: 80rem;
}

.card {
  display: flex;
  flex-flow: row;
}

.sch-card-header {
  display: flex;
  flex-flow: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 2rem 1rem 1rem;
}

.sch-detail {
  margin-top: 2rem; // display: flex; 
}

.sch-detail-header {
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-flow: row;
  align-items: baseline;
  justify-content: space-between;
}

.sch-detail-summery span {
  padding-right: 3rem;
}

.sch-detail-summery strong {
  padding-left: 1rem;
}

.sch-detail-body {
  border: 1px solid #d1dbe5;
  padding: 0 1rem 0 1rem;
}
